<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Qwasar</title>
</head>

<body>
    <div class="index-page">
        <img src="main.png" alt="">
        <h1 id="index-h1">COLLORATE</h1>
        <h4>Project managment tool for developers</h4>
        <div class="mainInDIv">
            <a class="mainInput" href="/login">Sign in</a>
            <a class="mainInput" href="/register">Sign up</a>
        </div>
    </div>
</body>

</html>