<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/modal.css">
    <title>Projects</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="/images/main.png" alt="Logo">
        </div>
        <div class="navbar-actions">
            <a href="/new-project">+ Add Project</a>
            <a href="/edit-profile">⚙ Edit Profile</a>
            <a href="/auth/logout">↩ Log Out</a>
        </div>
    </nav>

    <h1 class="page-title">Projects</h1>

    <div class="tabs" id="tabs-row">
        <button class="tab active" onclick="showTab('all', this)">✱ All projects</button>
        <button class="tab" onclick="showTab('mine', this)">✎ Created by me</button>
        <button class="tab" onclick="showTab('shared', this)">👥 Shared with me</button>
    </div>

    <div class="tab-wrapper">
        <div class="cards-grid" id="cards-container"></div>
    </div>

    <script>

        const currentUserId = "<%= userId %>"; // str
        let allProjects = [];
        let myProjects = [];
        let sharedProjects = [];
        async function loadMyProjects() {
            const res = await fetch('/projects/my');
            const data = await res.json();
            myProjects = data;
        }

        async function loadAllProjects() {
            const res = await fetch('/projects/all/name');
            const data = await res.json();
            allProjects = data;
        }

        function renderCards(projects) {
            const container = document.getElementById('cards-container');
            if (!projects.length) {
                container.innerHTML = '<p class="empty">No projects found.</p>';
                return;
            }
            container.innerHTML = projects.map(p => `
     <div class="card">
    <div class="card-header">
        <div class="card-title-block">
            <h2 class="card-title">${p.name}</h2>
            <p class="card-owner">👤 created by user: ${p.user_name}</p>
        </div>
        <a href="update-project/${p.id}" class="btn-edit">⚙</a>
    </div>

    <div class="card-body">
        <p class="card-desc">${p.description}</p>
    </div>

    <div class="card-footer">
        <div class="card-meta">
            <span>👥 0</span>
            <span>💬 0</span>
        </div>
        <button class="btn-delete" onclick="openModal(${p.id})">🗑</button>
        
    </div>
</div>
    `).join('');
        }

        function showTab(tab, btn) {
            document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
            btn.classList.add('active');

            if (tab === 'all') renderCards(allProjects);
            else if (tab === 'mine') renderCards(myProjects.filter(p => Number(p.user_id) === Number(currentUserId)));
            else if (tab === 'shared') renderCards(sharedProjects.filter(p => Number(p.user_id) !== Number(currentUserId)));
        }

        // async function deleteProject(projectId) {
        //     try {
        //         const res = await fetch(`/projects/del/${projectId}`, {
        //             method: 'DELETE'
        //         });
        //         if (!res.ok) {
        //             alert("It is impossible to delete someone else's project.");
        //             return;
        //         }
        //         await initProjects();
        //     } catch (err) {
        //         alert("Network error");
        //     }
        // }

        function alignGrid() {
            const firstTab = document.querySelector('.tab');
            const grid = document.getElementById('cards-container');
            if (!firstTab) return;
            const rect = firstTab.getBoundingClientRect();
            grid.style.width = rect.width + 'px';
            grid.style.marginLeft = rect.left + 'px';
        }

        // initilations
        async function initProjects() {
            await loadMyProjects();
            await loadAllProjects();
            renderCards(allProjects); //  "All"
            alignGrid();
        }

        window.addEventListener('resize', alignGrid);

        
        initProjects();
    </script>



    <div id="modal" class="modal">
        <div class="modal-content">
            <p>You want delete this product ?</p>
            <div class="modal-actions">
                <button id="confirmBtn">Delete</button>
                <button onclick="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</body>
<script src="/js/modal.js"></script>

</html>