<!DOCTYPE html>
<html>
<head><title>Регистрация</title></head>
<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Пароль" required><br>
        <button type="submit">Создать аккаунт</button>
    </form>
    <a href="/login">Назад ко входу</a>
</body>
</html>