<!DOCTYPE html>
<html>

<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <h1>Register</h1>
    <form action="/user/register" method="POST">
        <div class="field">
            <label for="f-name">Name</label>
            <input id="f-name" type="text" name="name" placeholder="John Do" required>
            <span class="err">Your Name</span>
        </div>

        <div class="field">
            <label for="f-email">Email</label>
            <input id="f-email" type="email" name="email" placeholder="example@mail.com" required>
            <span class="err">Write corrrect email adress</span>
        </div>

        <div class="field">
            <label for="f-pass">Pasword</label>
            <input id="f-pass" type="password" name="password" placeholder="Minimum 6 symbol" required>
            <span class="err">Password to short</span>
        </div>

        <div class="field">
            <label for="f-pass2">Confirm password</label>
            <input id="f-pass2" type="password" name="confirmPassword" placeholder="Password repeat" required>
            <span class="err">Password not much</span>
        </div>

        <button type="button" onclick="checkPasswords()">Create account</button>
    </form>
    <a href="/login">Back</a>
</body>
<script src="/js/main.js" defer></script>

</html>