* {
    margin: 0;
    padding: 0;
    background-color: #fcfcff;
}

.registre-div {
    padding: auto;
    text-align: center;
}


h2 {
    text-align: center;
}

.form-label {
    color: rgb(111, 106, 106);
    font-size: 12px;
    display: block;
    margin-top: 4px;
}

input {
    width: 350px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    font-size: 20px;
}

.btn {
    margin: 10px;
    border: none;
    width: 120px;
    height: 35px;
    background-color: #009aad;
    color: aliceblue;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    background-color: #066b79;
    color: azure;
}

.href {
    color: #009aad;
    font-weight: 200;
    font-size: larger;
}